@page
@model Thanks  
namespace Robot;

@{
    ViewData["Title"] = "Tack för ditt bidrag!";
}
<h2>Tack för ditt bidrag!</h2>
<p>Din data har sparats.</p>
<a asp-page="Index">Tillbaka till startsidan</a>
